body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


:root {
  --bs-primary: #3b657a;
  --bs-primary-rgb: 59, 101, 122;
  --bs-body-color: #e9f0c9;
  --bs-body-bg: #142026;
  --bs-tertiary-bg: #123142;
}

.card {
  background-color: var(--bs-tertiary-bg);
  border: 1px solid #3b657a;
}

.card-header, .card-footer {
  color: var(--bs-body-color);
}
